# custom snippets
snippet	clputs
	5.times { puts '*** *** *** *** *** ***' }
	puts "--> #{${0:foo_bar}}"
snippet magic
	# frozen_string_literal: true
	${0}
snippet puts
	puts ${1:"}--> #{${0:bleep_bloop}}$1
